<template>
<!-- App.vue -->
<v-app>
  
  <alert />

  <v-navigation-drawer app v-model="drawer">
    <!-- sidebar -->
    <v-list>
      <v-list-item v-if="!guest">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>Nama User</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <div class="pa-2" v-if="guest">
        <v-btn block color="secondary" class="mb-1" @click="login">
          <v-icon left>mdi-door</v-icon>
          Login
        </v-btn>
        <v-btn block color="success" class="mb-1">
          <v-icon left>mdi-account-plus</v-icon>
          Register
        </v-btn>
      </div>

      <v-divider></v-divider>
      <v-list-item v-for="(item, index) in menus" :key="`menu-${index}`" :to="item.route">
        <v-list-item-icon>
          <v-icon left>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="red" dark @click="logout">
          <v-icon left>mdi-exit-run</v-icon>
          Logout
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>

  <v-app-bar app color="deep-purple darken-3" dark>
    <!-- navbar -->
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

    <v-toolbar-title>Sanbercode | Kelompok 2</v-toolbar-title>

    <v-spacer></v-spacer>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->

  <v-main>
    <!-- Provides the application the proper gutter -->
    <v-container fluid>
      <!-- If using vue-router -->
      <v-slide-y-transition>
        <router-view></router-view>
      </v-slide-y-transition>
    </v-container>
  </v-main>

  <v-footer app>
    @Sanbercode | Vue JS | Final Project
  </v-footer>
</v-app>
</template>

<script>
import { mapActions } from 'vuex';
import Alert from './components/Alert.vue';

export default {
  components: { Alert },
  name: 'App',
  data: () => ({
    drawer : false,
    menus : [
      {title : 'Home', icon : 'mdi-home', route:'/'},
      {title : 'Blogs', icon : 'mdi-note', route:'/blogs'},
    ],
    guest : false,
    snackbarStatus : false,
    snackbarText : 'Anda Berhasil Login, Selamat Datang'
  }),

  methods : {
    logout(){
      this.guest = true
      this.setAlert({
        status : true,
        color : 'red darken-3',
        text : 'Anda Berhasil Logout'
      })
    },

    login(){
      this.guest = false
      this.setAlert({
        status : true,
        color : 'deep-purple',
        text : 'Selamat Datang, Anda Berhasil Masuk'
      })
    },

    ...mapActions({
      setAlert : 'alert/set'
    })
  },

  mounted(){
    this.snackbarStatus = true
  }
};
</script>
