<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>

    <v-carousel>
      <v-carousel-item
        v-for="blog in blogs"
        :key="`blog-`+blog.id"
        :src="blog.photo ? apiDomain + blog.photo : 'https://dummyimage.com/300x200/524f52/ffffff.jpg&text=Tidak+ada+gambar'" class="white--text" height="200px"
        reverse-transition="fade-transition"
        transition="fade-transition"
      ></v-carousel-item>
    </v-carousel>

    <v-divider></v-divider>

    <v-layout wrap>
      <blog-item v-for="blog in blogs" :key="`blog-`+blog.id" :blog="blog"></blog-item>
    </v-layout>

    <br>
    <button @click="increment(10)">Tambah</button>
    {{count}}
  </v-container>
</template>

<script>
import BlogItemVue from '../components/BlogItem.vue';
import { mapGetters, mapMutations } from 'vuex';

export default {
  data: () =>({
    apiDomain : 'http://demo-api-vue.sanbercloud.com',
    blogs : [],
  }),

  components : {
    'blog-item' : BlogItemVue
  },

  computed : {
    // count(){
    //   return this.$store.getters.count
    // }

    ...mapGetters({
      'count' : 'counter/count'
    })
  },

  methods : {
    go(){
      const config = {
      method : 'get',
      url : this.apiDomain + '/api/v2/blog/random/4'
    }

    this.axios(config)
      .then(response => {
        let {blogs} = response.data;
        this.blogs = blogs;

        console.log(this.blogs)
      })
      .catch(error => {
        console.log(error)
      });
    },

    // increment(payload){
    //   this.$store.commit('increment', payload)
    // }

    ...mapMutations({
      'increment' : 'counter/increment'
    })
  },

  created() {
    console.log(this.$store.state.count)
    this.go()
  }
};
</script>
